<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="results">
    <!-- Show them on their respective places -->
    <!-- array 0 is the first object -->
    <!-- I want to build a card with each one  -->
    <% for (let i = 0; i < businesses.length; i++) { %>
      <div class="<%= i %>">
      <%- JSON.stringify(businesses[i].id) %>
      <%- JSON.stringify(businesses[i].rating) %>
      <%- JSON.stringify(businesses[i].price) %>
      </div>
    <% } %>
  </div>
</body>
</html>